{% extends 'two-third-third.html' %}

{% load i18n ideascube_tags static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "monitoring/monitoring.css" %}">
    {% include 'ideascube/includes/form_statics.html' %}
{% endblock extra_head %}

{% block twothird %}
    <form id="entry_form" method="post">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.serials }}
        <h5>{% trans 'Specific activity (optional)' %}</h5>
        {{ form.activity_list }}
        {{ form.activity }}
        <h5>{% trans 'Partner (optional)' %}</h5>
        {{ form.partner }}
        {{ form.module }}
        <input type="submit" name="entry_cinema" value="{% trans 'To the cinema module' %}" class="cinema" />
        <input type="submit" name="entry_library" value="{% trans 'To the library module' %}" class="library" />
        <input type="submit" name="entry_digital" value="{% trans 'To the digital module' %}" class="digital" />
    </form>
    <hr />
    <table>
        <tr>
            <th>{% trans "Module" %}</th>
            <th>{% trans "Member" %}</th>
            <th>{% trans "When" %}</th>
            {% for field in MONITORING_ENTRY_EXPORT_FIELDS %}
                <th>{{ user|model|field_verbose_name:field }}</th>
            {% endfor %}
        </tr>
        {% for entry in entries %}
        <tr>
            <td><span class="{{ entry.module }} module">{{ entry.module }}</span></td>
            <td>{{ entry.user }}</td>
            <td>{{ entry.created_at }}</td>
            {% for field in MONITORING_ENTRY_EXPORT_FIELDS %}
                <td>{{ entry.user|field_value_display:field|default:'—' }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock twothird %}
{% block third %}
    <div class="card tinted">
        <h4>{% trans 'Export' %}</h4>
        <form method="get" action="{% url 'monitoring:export_entry' %}" id="entry_export_form">
            {{ export_form }}
            <input type="submit" value="{% trans 'Export' %}" />
        </form>
    </div>
{% endblock third %}
{% block extra_foot %}
    <script type="text/javascript">
        ID.focusOn('[name="serials"]');
        ID.initDatepicker('since');
        ID.stopEnterKey('activity');
        ID.stopEnterKey('partner');
    </script>
{% endblock extra_foot %}
