{% extends 'two-third-third.html' %}
{% load i18n ideascube_tags static %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "monitoring/monitoring.css" %}">
{% endblock extra_head %}

{% block twothird %}
    <h2>{% trans "Stock" %}</h2>
    {% for module in stock %}
        <table class="stock {{ module.key }}">
            <caption>{% trans module.name %} <a href="{% url 'monitoring:stockitem_create' %}?module={{ module.key }}"><i class="fa fa-plus"></i> {% trans "Add stock item" %}</a></caption>
            <tr>
                <th>{% trans 'count' %}</th>
                <th>{% trans 'barcode' %}</th>
                <th>{% trans 'serial number' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        {% for item in module.objects  %}
            <tr class="stockitem" id="stockitem-{{ item.pk }}">
                <td>{% trans 'Total:' %} {{ item.specimens.physical|length }}</td>
                <td colspan="2">{{ item }} <em>{{ item.description|truncatewords:10 }}</em></td>
                <td class="actions">
                    <a href="{% url 'monitoring:stockitem_update' pk=item.pk %}" title="{% trans 'Edit' %}">
                        {% fa 'pencil-square' %}
                    </a>
                    <a href="{% url 'monitoring:specimen_create' item_pk=item.pk %}" title="{% trans 'Add new specimen of this item' %}">
                        {% fa 'plus-square' %}
                    </a>
                </td>
            </tr>
            {% for specimen in item.specimens.physical %}
                <tr class="specimen">
                    <td>{{ specimen.count }}</td>
                    <td>{{ specimen.barcode|default:'—' }}</td>
                    <td>{{ specimen.serial|default:'—' }}</td>
                    <td class="actions">
                        <a href="{% url 'monitoring:specimen_update' pk=specimen.pk %}" title="{% trans 'Edit this specimen' %}">
                            {% fa 'pencil-square' %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% empty %}
            <tr><td colspan="2">{% trans 'Stock is empty for this module.' %}</td></tr>
        {% endfor %}
        </table>
        <hr />
    {% endfor %}
{% endblock twothird %}
{% block third %}
    <ul class="card tinted admin">
        <li>{% fa 'archive' 'fa-fw' %} <a href="{% url 'monitoring:stockitem_create' %}">{% trans "Add stock item" %}</a></li>
        <li>{% fa 'table' 'fa-fw' %} <a href="{% url 'monitoring:stock_export' %}">{% trans "Export" %}</a></li>
        <li>{% fa 'upload' 'fa-fw' %} <a href="{% url 'monitoring:stock_import' %}">{% trans "Import" %}</a></li>
        <li>{% fa 'bars' 'fa-fw' %} <a href="{% url 'monitoring:inventory_create' %}">{% trans "Start inventory" %}</a></li>
    </ul>
    <div class="card tinted admin">
        <h4>{% trans 'Inventories' %}</h4>
        {% for inventory in inventory_list  %}
            <p><a href="{% url 'monitoring:inventory' pk=inventory.pk %}">{{ inventory.made_at }}</a></p>
            <p class="shorten">{{ inventory.comments }}</p>
        {% empty %}
            <p>{% trans 'No inventory yet.' %} <a href="{% url 'monitoring:inventory_create' %}">{% trans "Start one now" %}.</a></p>
        {% endfor %}
    </div>
{% endblock third %}
