/* ************************************************* */
/* ****************** MONITORING ******************* */
/* ************************************************* */
.module {text-transform: uppercase;}
.cinema {color: #22A7F0;}
.library {color: #F89406;}
.digital {color: #87D37C;}
input.cinema {background-color: #22A7F0;}
input.library {background-color: #F89406;}
input.digital {background-color: #87D37C;}

table.stock {
    color: #444;
}
table.stock td {
    padding: 5px 10px;
}
table.stock tr.stockitem {
    background-color: #eee;
}
table.stock tr.stockitem td {
    text-align: left;
}
table.stock tr.specimen {
    background-color: #fff;
}
table.stock .notfound {
    background-color: #C0392B;
}
table.stock .missing {
    background-color: #F27935;
}
table.stock .missing,
table.stock .notfound,
table.stock .notfound a {
    color: #E0E0D1;
    line-height: 100%;
}
table.stock caption {
    color: #fff;
    text-transform: uppercase;
    padding: 5px 0;
    background-color: #444;
    position: relative;
}
table.stock caption a {
    color: #fff;
    position: absolute;
    right: 10px;
    text-transform: none;
}
html[dir='rtl'] table.stock caption a {
    left: 10px;
    right: auto;
}
table.stock th {
    background-color: #999;
    color: #fff;
    font-family: 'fira_sansmedium';
    font-weight: normal;
}
table.cinema caption {background-color: #22A7F0;}
table.library caption {background-color: #F89406;}
table.digital caption {background-color: #87D37C;}
table.admin caption {background-color: #F2CC11;}
table.stock tr.stockitem .actions,
table.stock .actions {
    text-align: right;
}

.shorten{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
