{% load i18n ideascube_tags %}
{% if available_langs %}
<div class="card tinted">
    <h4><span class="theme discover">{% trans "browse" %}</span> {% trans 'by lang' %}</h4>
    {% for lang, label in available_langs %}
        {% is_in_qs 'lang' lang as in_qs %}
        {% if in_qs %}
            <a href="{% remove_qs lang=lang %}" class="flatlist active">{{ label|capfirst }}</a>
        {% else %}
            <a href="{% replace_qs lang=lang %}" class="flatlist">{{ label|capfirst }}</a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
