{% extends 'form-sidebar.html' %}
{% load i18n static ideascube_tags %}

{% block heading %}
    <h2>
        {% if document %}
            {% trans "Edit document" %} "{{ document }}"
        {% else %}
            {% trans "New document" %}
        {% endif %}
    </h2>
{% endblock heading %}

{% block form %}
    <h3>{% trans 'Content' %}</h3>
    {% form_field form.title %}
    {% form_field form.original %}
    {% form_field form.summary %}
{% endblock form %}

{% block sidebar %}
    <h3>{% trans 'Metadatas' %}</h3>
    {% form_field form.credits %}
    {% form_field form.lang %}
    {% form_field form.kind %}
    {% form_field form.tags %}
    {% form_field form.preview %}
{% endblock sidebar %}

{% block cancel_url %}
    {% if document %}
        {{ document.get_absolute_url }}
    {% else %}
        {% url 'mediacenter:index' %}
    {% endif %}
{% endblock cancel_url %}

{% block extra_foot %}
    <script type="text/javascript">
        ID.initEditors();
    </script>
{% endblock extra_foot %}
